<!--<div style="background-color:wh"  height="780" width="400">
    <img src="img/splashcommute.png" height="780" width="400" />
    <h3 style="color:white">Smart Commute</h3>
</div>-->
<!--<style>
    .scroll-content-splash {
        display: table !important;
        width: 100% !important;
        height: 100% !important;
    }

    .scroll {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
    }
</style>-->
<ion-view view-title="Smart Commute" style="background-color:deepskyblue;">


    <ion-content has-header="false" padding="true">
        <div class="row row-center">
            <div class="col col-center" style="text-align:center">
                <div>
                    <br /> <br /><br /> <br /> <!-- Temporary for display-->
                    <!--<img src="img/splashcommute.png" height="780" width="400" />-->
                    <h1 style="color:white;"><i class="ion ion-android-bus"></i></h1>
                    <h3  style="color:white"> Loading..</h3>
                    <br /> <br />
                    <a class="button button-block button-positive" href="#/app/search/">Skip </a>
                </div>
            </div>
        </div>
       
    </ion-content>
</ion-view>
